# Enable mod_rewrite
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    # Allow access to existing files & directories
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule .* - [L]

    # Allow access to /admin, /superadmin, and /users
    RewriteCond %{REQUEST_URI} ^/users/ [OR]
    RewriteCond %{REQUEST_URI} ^/admin/ [OR]
    # RewriteCond %{REQUEST_URI} ^/users/
    RewriteRule .* - [L]

    # Redirect all other requests to /users/index.php
    RewriteRule ^ users/index.php [L,QSA]
</IfModule>

# Allow access to PHP, CSS, JS, and media files
<FilesMatch "\.(php|html|css|js|jpg|png|gif|ico|svg|woff|ttf|pdf)$">
    Require all granted
</FilesMatch>
